@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Image Border Radius
.img-corner {
	border-radius: 0.5rem;
}

.img-border {
	border: 0.1em solid hsl(0, 0%, 21%);
}

// Skill Box Hover
.box-hover {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}

.box-hover:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

// Button Icon Invert
.btn-icon:hover {
	filter: invert(1);
	-webkit-filter: invert(1);
}

// Sticky Footer
html, body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body > footer {
	margin-top: auto;
}