@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

// Who Am I Picture
.profile {
	border-radius: 0.5rem;
}

// Skill Box Hover
.box {
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
}

.box:hover {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
}

// Button Icon Invert
.btn-icon:hover {
	filter: invert(1);
	-webkit-filter: invert(1);
}

// Sticky Footer
html, body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

body > footer {
	margin-top: auto;
}