{block content}
	{foreach $projects as $project}
		<div class="project" data-id="{$project->id}">
			<h2>{$project->name}</h2>
			<a href="{$project->link}">GitHub</a>
			<a n:href="Projects:single $project->id">projekt</a>
		</div>
	{/foreach}
{/block}