<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta Tags -->
		<meta charset="utf-8">
		<meta name="author" content="Jan Kornienko">
		<meta name="robots" content="{ifset robots}{include robots|stripHTML}{else}index{/ifset}, follow">
		<meta name="description" content="{ifset description}{include description|stripHTML}{else}Personal website of Jan Kornienko.{/ifset}">
		<meta name="keywords" content="Jan, Kornienko, Website{ifset keywords}, {include keywords|stripHTML}{/ifset}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Open Graph Tags -->
		<meta name="og:title" property="og:title" content="{ifset og-title}{include og-title|stripHTML}{else}Jan Kornienko{/ifset}">
		<meta name="og:description" property="og:description" content="{ifset description}{include description|stripHTML}{else}Personal website of Jan Kornienko.{/ifset}">
		<meta name="og:url" property="og:url" content="{ifset og-url}{include og-url|stripHTML}{else}https://jankornienko.com/{/ifset}">
		<!-- Title -->
		<title>{ifset title}{include title|stripHtml} | {/ifset}Jan Kornienko</title>
		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="{$basePath}/favicon.ico">
		<!-- Bulma -->
		<link rel="stylesheet" href="{$basePath}/css/styles.css">
	</head>

	<body class="is-family-code has-text-dark is-lowercase">
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		<!-- Header -->
		<header n:if="$tempName != 'Homepage:'">
			<nav class="navbar">
				<div class="container">
					<div class="navbar-brand">
						<div class="navbar-item">
							<a class="has-text-dark" n:href="Homepage:">Home</a>
						</div>
						<div class="navbar-item" n:if="$tempName == 'Projects:detail'">
							<a class="button is-dark" n:href="Projects:">Back</a>
						</div>
						<div class="navbar-item" n:if="$tempName == 'Projects:new'">
							<a class="button is-dark" n:href="Projects:">Projects</a>
						</div>
						<div class="navbar-item" n:if="($tempName == 'Projects:') && ($user->isLoggedIn())">
							<a class="button is-dark" n:href="Projects:new">New Project</a>
						</div>
						<div class="navbar-item" n:if="($tempName == 'User:new') || ($tempName == 'User:changePassword') || ($tempName == 'User:delete') && ($user->isLoggedIn())">
							<a class="button is-dark" n:href="User:">Back</a>
						</div>
						<div class="navbar-item" n:if="($presenter->name == User) && ($user->isLoggedIn())">
							<a class="button is-danger" n:href="User:out">Log Out</a>
						</div>
					</div>
				</div>
			</nav>
		</header>

		{include content}

		<!-- Footer -->
		<footer class="footer py-2">
			<div class="container">
				<div class="columns is-centered has-text-centered my-0">
					<a class="column is-narrow has-text-dark pb-0" n:href="Homepage:">Home</a>
					<a class="column is-narrow has-text-dark pb-0" n:href="Projects:">Projects</a>
					<a class="column is-narrow has-text-dark pb-0" n:href="Homepage:#who-am-i">Who Am I</a>
					<a class="column is-narrow has-text-dark pb-0" n:href="Homepage:#skills">Skills</a>
					<a class="column is-narrow has-text-dark pb-0" n:href="Homepage:#contact">Contact</a>
				</div>
				<div class="columns is-centered has-text-centered my-0">
					{if $user->isLoggedIn()}
						<a class="column is-narrow has-text-danger pb-0" n:href="User:out">Log Out</a>
						<a class="column is-narrow has-text-dark pb-0" n:href="User:">User</a>
						<a class="column is-narrow has-text-dark pb-0" n:href="Projects:new">New Project</a>
					{else}
						<a class="column is-narrow has-text-dark pb-0" n:href="User:">Log In</a>
					{/if}
				</div>
				<p class="has-text-centered pt-3">Made by <i>Jan Kornienko</i></p>
			</div>
		</footer>

		{block scripts}
			<script src="{$basePath}/js/notification.js"></script>
		{/block}
	</body>
</html>