<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{ifset title}{include title|stripHtml} | {/ifset}Jan Kornienko</title>
		<link rel="icon" type="image/x-icon" href="{$basePath}/favicon.ico">
		<link rel="stylesheet" href="{$basePath}/css/styles.css">
	</head>

	<body>
		<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

		<!-- Header -->
		<header>
		</header>

		<a class="button is-primary" href="#">Primary</a>
		{include content}

		<!-- Footer -->
		<footer>
		</footer>

		{block scripts}
			<script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>
		{/block}
	</body>
</html>